<h1 class="code-line" data-line-start=0 data-line-end=1 ><a id="gitkeeper_0"></a>gitkeeper</h1>
<p class="has-line-data" data-line-start="2" data-line-end="3">gitkeeper is a tiny microservice that let’s a client side appplication authenticate with GitHub.</p>
<h3 class="code-line" data-line-start=4 data-line-end=5 ><a id="Installation_4"></a>Installation</h3>
<pre><code class="has-line-data" data-line-start="7" data-line-end="17" class="language-bash"><span class="hljs-comment"># Install dependencies</span>
pip3 install -r requirements.txt

<span class="hljs-comment"># Export env variables</span>
<span class="hljs-built_in">export</span> OAUTH_CLIENT_ID=&lt;client_id&gt;
<span class="hljs-built_in">export</span> OAUTH_CLIENT_SECRET=&lt;client_secret&gt;

<span class="hljs-comment"># Run the app</span>
flask run
</code></pre>
<h3 class="code-line" data-line-start=18 data-line-end=19 ><a id="API_18"></a>API</h3>
<pre><code class="has-line-data" data-line-start="21" data-line-end="23">GET http://localhost:5000/authenticate/&lt;code&gt;
</code></pre>
<p class="has-line-data" data-line-start="24" data-line-end="25">Sample success response</p>
<pre><code class="has-line-data" data-line-start="26" data-line-end="32" class="language-json">{
  "<span class="hljs-attribute">access_token</span>": <span class="hljs-value"><span class="hljs-string">"2e6c49c405c4e059e3ec6d7e57447a6258a53241"</span></span>, 
  "<span class="hljs-attribute">scope</span>": <span class="hljs-value"><span class="hljs-string">"repo"</span></span>, 
  "<span class="hljs-attribute">token_type</span>": <span class="hljs-value"><span class="hljs-string">"bearer"</span>
</span>}
</code></pre>
<p class="has-line-data" data-line-start="33" data-line-end="34">Sample error response</p>
<pre><code class="has-line-data" data-line-start="35" data-line-end="41" class="language-json">{
  "<span class="hljs-attribute">error</span>": <span class="hljs-value"><span class="hljs-string">"bad_verification_code"</span></span>, 
  "<span class="hljs-attribute">error_description</span>": <span class="hljs-value"><span class="hljs-string">"The code passed is incorrect or expired."</span></span>, 
  "<span class="hljs-attribute">error_uri</span>": <span class="hljs-value"><span class="hljs-string">"https://developer.github.com/apps/managing-oauth-apps/troubleshooting-oauth-app-access-token-request-errors/#bad-verification-code"</span>
</span>}
</code></pre>
<p class="has-line-data" data-line-start="42" data-line-end="43"><a href="https://github.com/solitudenote/gitkeeper">Repository</a></p>

